// product-item.scss

@import "vars/product-item.vars"; 

/* product style */
.product-block{ 
    position: relative;
    overflow: hidden; 
    margin: 0;
    @include box-sizing(border-box);    
    .product-meta{        
        position: relative;
		padding: 15px 13px;
        background: #fff;
    }
    // rating  
    .nb-comments{
        display: none;
    }
    .star_content{
        display: inline-block;
    }
    .product-rating, .norating { 
        font-size: $product-rating-font-size;
        display: inline-block;
        width: 40%;
        margin: 6px 0;
        height: 15px;
        line-height: 15px;
        @include rtl-text-align-right();
    }

	// price
    .content_price{
        width: 40%;
        position: relative;
        @include rtl-float-left();
        @include rtl-text-align-left();
    }
    .product-cold {
        position: absolute;
        top: -20px;   
    }
	.price-old, .old-price {
		color: $product-price-old-color;
		text-decoration: line-through;   
        font-size: $font-size-base;  
	}
    .price{
        color: $product-price-color;
        font-family: $product-price-font-family;
        font-size: $product-price-font-size;
        position: absolute;
        top: -1px;
    }
	 
	// desc
    .product-desc{
        display: none;
        overflow: hidden;
        clear: both;
    }

	// title name
    .product-title {height: 45px; margin-bottom: 32px;}
    .name{ 
        margin: 5px 0;
        width: 60%;
        @include rtl-float-left();
        a {
            color: $product-name-color;
            font-size: $product-name-font-size;
            font-family: $product-name-font-family; 
            height: $product-name-height;
            line-height: 18px;
            overflow: hidden;       
            text-decoration: none;
            @include rtl-text-align-left(); 
            @include inline-block();                                       
            &:hover{
                color: $product-name-hover-color;
            }
        }
    }
   
	// image
    .image{
        position: relative;     
        overflow: hidden;
        text-align: center;
        background: $white;
        padding-bottom: 10px;
        @include rounded-corners ($product-image-radius); 
        img {display: inline;}
    }

    .product-additional{
        position: absolute;
        top: 0px;
        visibility: hidden;
        left: 0;
        right: 0;
        @include opacity(0);
    } 
    .left-block{position: relative;}
     // button
    .content-buttons{
        width: 100%; 
        @include transition(all ease 0.5s);   
        text-align: center;
        position: absolute;
        visibility: hidden;
        @include opacity(0);
        left: 0;
        bottom: -50px;
        .btn{                 
            @include box-sizing(border-box);
            background: $button-icon-bg;
            border-color: $button-icon-border;
            color: $button-icon-color;
            height: 36px;
            width: 36px;
            line-height: 26px;
            padding: 5px 0;
            &:hover{
                    background: $button-icon-bg-hover;
                    color: $button-icon-color-hover;
                    border-color: $button-icon-border-hover;
            }
            .fa {
                font-size: $font-size-base + 2;
            }
        }
        .add_to_compare {margin: 0 2px;}
        
        > div{ 
            display: inline-block;
            @include transition(all ease 0.5s);  
            margin: 0 2px;
        }
    } 

    // button-cart
    .functional-buttons {
        @include rtl-text-align-right();
        .button {
            color: $button-addtocart-color;
            background: $button-addtocart-bg;
            text-transform: uppercase;
            &:hover{
                background: $button-addtocart-bg-hover;
                color: $button-addtocart-color-hover;
                border-color: $button-addtocart-border-hover;
            }
        }
        .btn {padding: 4px 12px; text-transform: uppercase;}
        .fa {
            @include rtl-margin-right(5px);
        }
    }

    // hover
    &:hover {	 
        .product-additional{
            visibility: visible;
            @include transition(all 0.5s ease 0s);
            @include opacity(1);
        }     
        .content-buttons{
            bottom: 0;
            visibility: visible;
            @include transition(all ease 0.5s);   
            @include opacity(1);
        }
    }
    .product-flags{@include rtl-float-left();}
    .availability{} 
    .online_only{}
    .discount{}
}

.price-percent-reduction{
    background: $product-price-reduction-bg;   
    color: $white;
    padding: 0 5px;
    display: inline-block;
}

// label
.label {font-size: $font-size-base; font-weight: normal; @include border-radius(2px); padding: 3px 5px;}
.label-new{position: absolute; top: 5px; @include rtl-left(5px); background: $theme-color-default;}
.label-sale{position: absolute; top: 5px; @include rtl-right(5px); background: $red;}  
.label-discount {position: absolute; top: 5px; @include rtl-right(5px);}