@import "compass";
@import "theme_variables";
// cateogry 
#subcategories{ 
  padding: 0 0 15px; 
} 
.subcategories{
	display: inline-block;
  .cat-desc{
      overflow: hidden;
      height: 40px; 
  }
} 

.category {
	.product-listing {
		margin: 0;
	}
}

.content_scene_cat_bg {
	margin-top: 17px;
	img {
		@include border-radius(2px);
	}
}