// Block Modules 
// ========================================================================

$block-margin-bottom: 			17px !default;

$block-heading-radius: 			0;
$block-heading-border-top: 		1px solid $black !default;
$block-heading-transform:        uppercase !default;
$block-heading-line-height:      normal !default;
$block-heading-letter-spacing:        1px !default; 
$block-heading-font-family:    	$headings-font-family !default;
$block-heading-font-size:		18px !default;
$block-heading-bg:				$white !default;
$block-heading-color:			$theme-color-default !default;
$block-heading-padding: 		25px 10px 0 !default;

$block-content-bg:				$white !default;
$block-content-border:			1px solid transparent !default;
$block-content-padding:			20px !default;
$block-content-margin:         	1px !default;
$block-content-radius:         	0px !default;

// get content icon from link http://fortawesome.github.io/Font-Awesome/icons/ or img icon from theme folder 
$block-icon-content:         	"" !default; 
//$block-icon-content:         	url(#{$image-theme-base-path}icon/form-ok.png) !default;


$block-highlighted-bg			: #e74c3c !default;
$block-highlighted-border		: $border-color !default;
$block-highlighted-text			: $theme-color-default !default;
