
// Footer
$footer-outside-bg :				$nocolor !default;
$footer-bg: 						$nocolor !default;
$footer-color: 						#252525 !default; 

$footer-bottom-outsite-bg:          #252525 !default;
$footer-bottom-bg:                  $footer-bottom-outsite-bg !default;
$footer-bottom-color: 				$white !default;

$footer-nav-outsite-bg:             $nocolor !default;
$footer-nav-bg:                     $nocolor !default;