
/*  
 * LAYOUT VARIABLES 
 */

// Topbar 
$topbar-outside-bg: 				$nocolor !default;
$topbar-bg: 						$nocolor !default;
$topbar-color: 						#9e9e9e !default; 
$topbar-font-size: 					$font-size-base;
$topbar-height:                     54px !default;

// header main
$headermain-outside-bg :			$nocolor !default;
$headermain-bg: 			 		$nocolor !default;
$headermain-color:					$text-color !default;

